*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: antiquewhite;
}

.slide-container{
    position: relative;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.img-container{
    display: flex;
    transition: transform .4s ease-in-out;
}

.btn{
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    opacity: .5;
    transition: opacity .5s;
}

.btn.prev{
    left: 10px;
}

.btn.next{
    right: 10px;
}

.btn:hover{
    opacity: 1;
}